@import "~bootstrap/scss/bootstrap.scss";

.contenedorReloj{
    text-align: center;
    background: black;
}

.contenedorReloj div{
    display: inline-block;
    font-size: 60px;
    background: rgb(5, 0, 0);
    color: white;
    padding: 10px;
}
